/* JADN Lint Server styles */

.hide {
    display: none;
}

/* Schema and Message text areas - use small monospaced font */
.txtbox {
    font-family: "Consolas", Monospace;
    font-size: 0.7em;
    line-height: 100%;
}

.alert {
    font-size: 0.9em;
}

select {
    font-size: 0.9em;
}

.ttop {
    display: table;
    width: 100%;
}

.trow {
    display: table-cell;
}

.tstat {
    width: 100%
}
/*
.inline-p {
    whitespace: nowrap;
}
*/

/*
.inline-c {
    float: right;
}
*/
